<h1>Speak thy name and the passphrase to enter, hunter.</h1>
{{!--  Login Container  --}}
<div class="T-LOGIN-container">

  <form action="/login" method="post">

    <div class="T-LOGIN-input-wrapper">
      <input  type="text"
              name="username"
              placeholder="Username"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Username'" />
      <div class="outline">
        {{!--  label must be inside outline to activate upon focus  --}}
        <label for="username">USERNAME </label>
      </div>
    </div>

    <div class="T-LOGIN-input-wrapper">
      <input  type="password"
              name="password"
              placeholder="Password"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Password'" />
      <div class="outline">
        {{!--  label must be inside outline to activate upon focus  --}}
        <label for="password">PASSWORD </label>
      </div>
    </div>

    {{!--Submit Button--}}
    <input type="submit" value="Log In" />

    {{!--Github Button--}}
    <a class="login-button login-button--github" href="/auth/github">
      <img src="images/github-icon--32.png" alt="Github Icon">
      <span>Login with Github</span>
    </a>
  </form>

</div>
